<label for="title">Title</label>
<input type="text" id="title" name="board[title]" value="<%= board.title %>">
<button name="button">Create</button>
<span class="error"><%= board.errors && board.errors.title %></span>
